
button {
	height: 50px;
	width: 150px;
	background-color: lightgrey;
	text-align: center;
	font-size: 18px;
	font-family: Verdana;
	font-style: Bold;
	border-radius: 10px;
	float: left;
	margin: 5px;
}

h1 {
	clear: both;
	margin-top:	50px;
}